@import "bootstrap/dist/css/bootstrap.min.css";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

footer {
  text-align: center;
  font-size: 15px;
  color: salmon;
  padding-top: 30px;
}

a {
  color: mediumaquamarine;
}
