@import "bootstrap/dist/css/bootstrap.min.css";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: salmon;
}
footer {
  text-align: center;
  font-size: 15px;
  padding-top: 30px;
  color: white;
}

a {
  color: grey;
  font-weight: bold;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.container {
  border: 2px solid salmon;
  padding: 40px 65px;
  border-radius: 20px;
  width: 650px;
  margin-top: 20px;
  background-color: white;
}
.SearchMain {
  padding: 10px 0px;
}
.SearchBox {
  line-height: 30px;
  border: 1px solid;
  border-color: salmon;
  opacity: 80%;
}
.SearchButton {
  line-height: 30px;
  padding: 0 25px;
  background-color: salmon;
  color: white;
}
.WeatherMain {
  padding: 0;
}
.WeatherCity {
  font-size: 70px;
  font-weight: bold;
  padding-top: 10px;
  color: salmon;
  text-align: center;
}
.WeatherTime {
  font-size: 18px;
  opacity: 70%;
  text-align: center;
}
.WeatherCondition {
  font-size: 25px;
  padding: 30px 0 10px;
  font-weight: bold;
  opacity: 80%;
}
.WeatherIcon {
  padding: 0;
  max-width: 100px;
  max-height: 100px;
}
.WeatherTemp {
  font-weight: bold;
  margin: 0;
  padding: 20px 0 0 20px;
  text-align: start;
  position: relative;
  opacity: 80%;
}
.WeatherTempNo {
  font-size: 70px;
  line-height: 60px;
}

.WeatherMetric {
  font-size: 15px;
  position: absolute;
  top: 20px;
  opacity: 80%;
}

/*Today's Weather Extra Data*/

.WeatherData {
  font-size: 14px;
  padding-left: 40px;
  padding-top: 20px;
  border-left: 2px solid salmon;
  margin-left: 10px;
  opacity: 75%;
}

/*ForecastCSS*/

.WeatherForecastMain {
  text-align: center;
  padding-top: 20px;
}

.WeatherForecastDay {
  font-size: 16px;
  font-weight: bold;
}

.WeatherForecastIcon {
  max-width: 50px;
  max-height: 50px;
}
.WeatherForecastTemp {
  font-size: 14px;
}
.WeatherForecastMaxTemp {
  font-weight: bold;
}

.WeatherForecastMinTemp {
  opacity: 75%;
}
